.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
}

.graph {
  height: 100%;
  width: 100%;
}

.graph_header_container {
  height: 100%;
  width: 100%;
}

.loading {
  position: fixed;
  left: 50%;
  top: 50%;
  transform:translate(-50%,-50%);
  font-size: 10px;
}