.solve-node-modal {
  background-color: rgb(56, 119, 156);
  color: white;
}
.errorMessage {
  color: rgb(254, 83, 61);
  font-family: "Inconsolata", monospace;
  font-size: 1.3em;
  padding-top: 10px;
}