.statement-input {
  font-family: "Inconsolata", monospace !important;
  padding: 5px 10px 5px 10px !important;
  min-height: 1em;
  resize: none;
}

.syntax-error {
  background-color: rgb(255, 143, 143) !important;
}