.induction-node {
  background-color: rgb(157, 238, 248);
  padding: 10px 15px 10px 15px;
  border: 1px solid rgba(0,0,0,0.3);
  border-radius: 5px;
  min-width: 350px;
  -webkit-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.5); 
  box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.3);
}

.valid-induction {
  border-color: green;
  background: rgb(107, 247, 107);
}

.invalid-induction {
  border-color: red;
  background-color: rgb(255, 179, 179);
}

.checking-induction {
  border-color: gray;
}