.proof-node {
  background-color: rgb(230, 221, 222);
  padding: 10px 15px 10px 15px;
  border: 1px solid rgba(0,0,0,0.3);
  border-radius: 5px;
  min-width: 350px;
  -webkit-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.5); 
  box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.3);
}

.given-node {
  background: rgb(255, 211, 248);

  padding: 10px 15px 10px 15px;
  border: 1px solid rgba(0,0,0,0.3);
  border-radius: 5px;
  min-width: 350px;
  -webkit-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.5); 
  box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.3);
}

.alert-container {
  position: absolute;
  top: 20vh;
}

.goal-node {
  background: rgb(240, 255, 204);

  padding: 10px 15px 10px 15px;
  border: 1px solid rgba(0,0,0,0.3);
  border-radius: 5px;
  min-width: 350px;
  -webkit-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.5); 
  box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.3);
}

.custom-node-handle{
  height: 10px;
  width: 20px;
  background: rgb(0, 89, 141);
}

.moveable-line.moveable-direction {
  display: none;
}