.proof-node {
  border: 2px solid black;
  border-radius: 5px;
  background: rgb(91, 188, 245);
  padding: 5px;
  width: 350px;
}

.given-node {
  border: 2px solid black;
  border-radius: 5px;
  background: rgb(255, 173, 241);
  padding: 5px;
  width: 350px;
}

.goal-node {
  border: 2px solid black;
  border-radius: 5px;
  background: rgb(241, 249, 130);
  padding: 5px;
  width: 350px;
}

