.edgebutton {
  width: 35px;
  height: 35px;
  background: #eee;
  cursor: pointer;
  border-radius: 50%;
  font-size: 12px;
  line-height: 1;
}

.edgebutton-foreignobject div {
  background: transparent;
  width: 55px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 55px;
}